<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Personal Diary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">TODO</a>
    </li>
</ul>



<div class="tab-content">
    <div class="tab-pane active" id="tabs-1" role="tabpanel">
        <a routerLink="/addDiary" class="nav-link" routerLinkActive="active">
            Add Personal Diary
        </a>

        <diV class="row">
            <div class="card col-md-4" style="padding: 0;" *ngFor="let item of diaryList | paginate: { itemsPerPage: 12, currentPage: pageNumber, totalItems:Count }">
                <img class="card-img-top" style="height: 150px;" *ngIf="item.picturesUrl != null" src="{{imagesURL}}/{{item.picturesUrl}}" alt="Card image cap" />
                <div class="card-body">
                    <p class="card-title text-center" style="border: 1px dashed black; border-radius:5px ; padding: 5px 0;">{{item.createdDate|  date:'MM/dd/yyyy hh:mm a'}}</p>
                    <p class="card-text">{{item.text}}</p>

                    <a routerLink="/editDiary/{{item.id}}" class="btn btn-info" style="width: 100%;">Edit</a>            

                </div>
            </div>

            <div class="col-md-12" style="margin: 10px 0;">
                <pagination-controls (pageChange)="onPageChangeDiary($event)"></pagination-controls>
            </div>


        </diV>
    </div>
    <div class="tab-pane" id="tabs-2" role="tabpanel">
        <a routerLink="/addToDo" class="nav-link" routerLinkActive="active">
            Add ToDo Item
        </a>

        <diV class="row">
            <div class="card col-md-4" style="padding: 0;" *ngFor="let item of todoList | paginate: { itemsPerPage: 12, currentPage: pageNumber, totalItems:Count }">
                <img class="card-img-top" style="height: 150px;" *ngIf="item.picturesUrl != null" src="{{imagesURL}}/{{item.picturesUrl}}" alt="Card image cap" />
                <div class="card-body">
                    <p class="card-title text-center" style="border: 1px dashed black; border-radius:5px ; padding: 5px 0;">{{item.createdDate|  date:'MM/dd/yyyy hh:mm a'}}</p>
                    <p class="card-text">{{item.text}}</p>

                    <a routerLink="/editToDo/{{item.id}}" class="btn btn-info" style="width: 100%;">Edit</a>            

                </div>
            </div>

            <div class="col-md-12" style="margin: 10px 0;">
                <pagination-controls (pageChange)="onPageChangeToDo($event)"></pagination-controls>
            </div>

        </diV>

    </div>

</div>